certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
numpy==2.2.5
pandas==2.2.3
portalocker==3.1.1
psutil==7.0.0
pyasn1==0.6.1
pycryptodome==3.22.0
pycryptodomex==3.22.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pyzipper==0.3.6
requests==2.32.3
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
